
<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <div>
        <h1 class="title">Disaster Log</h1>
        <h2 class="subtitle subtitle-background">Use the form below to find a list of natural disasters that have occurred in your state.</h2><br>
        <p class="keyword keyword-background">Fire • Flood • Severe Storms(s) • Snow • Coastal Storm • Hurricane • Severe Ice Storm • Biological • Earthquake • Typhoon • Tornado • Mud/Landslide • Dam/Levee Break</p>
      </div>
    </div>
</section>
<div class="search-container">
  <div class="container">
    <div class="input-container">
      <div class="wrapper">
      <div class="state-box search-input">
        <a href="" target="_blank" hidden></a>
        <label>State</label>
        <input id="state_input" type="text" placeholder="ex. Alabama">
        <div class="autocomplete"></div>
        <div class="icon"><i class="fas fa-search"></i></div>
      </div>
      </div>
      <div>
        <label>Keyword</label> <br>
        <input id="incident_input" type="text" placeholder="ex. Fire, Hurricane...">
      </div>
    </div>
    <div class="search">
      <button type="buttton" class="search-button" id="search-button">Search</button>
    </div>
  </div>
</div>
<section>
<div class="results-container"></div>
</section>