

<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <h1 class="title">Help Requests</h1>
      <h2 class="subtitle subtitle-background">
        Use the form below to determine if FEMA public assistance programs exist in your area.
      </h2><br>
    </div>
  </div>
  <div class="box">
    <div class="help-flex">
      <div class="contact_container">
        <h2>Contact Form</h2>
        <p class="contact-subtitle">To receive updates on situations in your general area, please complete the form below.</p>
        <form class="contact-form" id="contact-form">
          <div class="form-control">
            <label>Full Name</label>
            <input type="text" placeholder="John Doe" id="username">
          </div>
          <div class="form-control">
            <label>Email</label>
            <input type="email" placeholder="john.doe@email.com" id="email">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label>Zip Code</label>
            <input type="number" placeholder="12345" id="zipcode">
            <small>Error message</small>
          </div>
          <button class='contact-submit'>Submit</button>
        </form>
      </div>
      <div class="mission_container">
        <div class="mission-container-header">
          <h2>FEMA Locations</h2>
          <button class='mission-submit' id='mission-submit'>Submit</button>
        </div>
        <div class="result_container"></div>
      </div>
    </div>
  </div>
</section>