

<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <h1 class="title">How to Help</h1>
      <h2 class="subtitle subtitle-background">
        There are many ways to assist the people and communities affected by natural disasters and geopolitical conflicts.
      </h2><br>
    </div>
  </div>
  <div class="box">
    <div class="help-flex">
      <div class="contact_container">
        <h2>Contact Form</h2>
        <p class="contact-subtitle">To receive updates on situations in your general area, please complete the form below.</p>
        <form class="contact-form" id="contact-form">
          <div class="form-control">
            <label>Full Name</label>
            <input type="text" placeholder="John Doe" id="username">
          </div>
          <div class="form-control">
            <label>Email</label>
            <input type="email" placeholder="john.doe@email.com" id="email">
            <small>Error message</small>
          </div>
          <div class="form-control">
            <label>Zip Code</label>
            <input type="number" placeholder="12345" id="zipcode">
            <small>Error message</small>
          </div>
          <button class='contact-submit'>Submit</button>
        </form>
      </div>
      <div class="mission_container">
        <h2>Mission Locations</h2>
        <p class="contact-subtitle">SAMPLE TEXT</p>
      </div>
    </div>
  </div>
</section>