
<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <div>
        <h1 class="title">Welcome</h1>
        <h2 class="subtitle subtitle-background"></h2><br>
      </div>
    </div>
</section>
<div class="login_container">
  <form class="login-form" id="login-form">
    <div class="form-control">
      <label>Username</label>
      <input type="text" placeholder="user@email.com" id="username">
    </div>
    <div class="form-control">
      <label>Password</label>
      <input type="password" id="password">
      <small>Error message</small>
    </div>
    <button class='login-submit'>Submit</button>
  </form>
</div>
