
<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <div>
        <h1 class="title">Welcome</h1>
        <h2 class="subtitle subtitle-background">Please authenticate before continuing to the site.</h2><br>
      </div>
    </div>
</section>
<div class="flex">
  <div class="login_container">
    <!-- <form class="login-form" id="login-form">
      <div class="form-control">
        <label>Username</label>
        <input 
          type="text" 
          placeholder="user@email.com" 
          id="username"
          name="username"
          required
          />
      </div>
      <div class="form-control">
        <label>Password</label>
        <input 
          type="password" 
          id="password"
          name='password'
          required>
        <small>Error message</small>
      </div>
      <button type="submit" class='login-submit'>Submit</button>
    </form> -->
  </div>
  <div class="news-container">
    <!-- <div class="article">
        <h2>Fires in Northwest United States</h2>
        <p>If your community has been affected by the fires in the northwestern states, you can request FEMA assistance.</p>
        <a class="button" href="./help">Assistance</a>
      </div>
    <div class="article">
      <h2>Hurricane Season: Active</h2>
      <p>Although hurricane season is active, there are no storms being monitored. View past storms here.</p>
      <a class="button" href="./disasterLog">Disaster Log</a>
    </div> -->
  </div>
</div>
