
<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <div>
        <h1 class="title">Disaster Tracker</h1>
        <h2 class="subtitle subtitle-background">Use the form below to find a list of natural disasters that have occurred in your area.</h2><br>
      </div>
    </div>
</section>
<div class="search-container">
  <div class="container">
    <div class="input-container">
      <div class="date-box">
        <label>State</label>
        <input type="text" placeholder="ex. Alabama">
      </div>
      <div>
        <label>Keywords</label> <br>
        <input type="text" placeholder="ex. flood">
      </div>
    </div>
    <div class="search">
      <button type="buttton" class="search-button" id="search-button">Search</button>
    </div>
  </div>
</div>
<section>
<div class="results-container">
  <!-- <div class="result-item">
  </div> -->
</div>
</section>