

<div class="splash-screen"></div>
<section class="home" id="home">
  <div class="title_container">
    <div>
      <div>
        <h1 class="title">Disaster Tracker</h1>
        <h2 class="subtitle subtitle-background">Search for current and historic events related to environmental occurrences.</h2><br>
      </div>
    </div>
</section>